<div class="background">
  <image class="centered"
         src="/assets/images/pie_logo.png" 
         alt="juicy pie" 
         style="width:400px; height:400px;">
  </image>
  <h1 class="title">Eat the Pie</h1>

  
</div>